# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [1]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

C:\Users\tjorn\AppData\Local\Temp\ipykernel_33212\2821951215.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [2]:
dbconnection = sqlite3.connect('go_sales.sqlite')

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [3]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(sql_query, dbconnection)
print (tables)

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [4]:
sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", dbconnection)

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [5]:
# converting to panda series
sales_staff_code = sales_staff['SALES_STAFF_CODE']
work_phone = sales_staff['WORK_PHONE']
extension = sales_staff['EXTENSION']
fax = sales_staff['FAX']
email = sales_staff['EMAIL']

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [6]:
contact_details = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1) #axis 1 is for columns
print(contact_details)

    SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
97                95      +35 94 322 3540       325      +35 91 548 1637
98                96    +55 (11) 344-4444      3490    +55 (11) 333-2223
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
97     TIglesias@grtd123.com
98        BLopes@grtd123.com
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com

[102 rows x 5 columns]

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [7]:
contact_details_head = contact_details.head(5)
print(contact_details_head)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL
0  TSavolainen@grtd123.com
1         CKim@grtd123.com
2        JChoi@grtd123.com
3        KKwao@grtd123.com
4         CFon@grtd123.com

Aan deze 5 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [8]:
first_language = ['EN', 'EN', 'EN', 'EN', 'EN']
first_language_series = pd.Series(first_language, name='FIRST_LANGUAGE')
contact_details_head = pd.concat([contact_details_head, first_language_series], axis=1)

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [9]:
second_language = {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}
second_language_series = pd.Series(second_language, name='SECOND_LANGUAGE')
contact_details_head = pd.concat([contact_details_head, second_language_series], axis=1)

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?
- Omdat de naam van de kolom al in de dictionary staat.

In [10]:
third_language = {'THIRD_LANGUAGE': ['NL', 'NL', 'JPN', 'JPN', 'KOR']}
third_language_df = pd.DataFrame(third_language)
contact_details_head = pd.concat([contact_details_head, third_language_df], axis=1)

print(contact_details_head)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0  TSavolainen@grtd123.com             EN              FR             NL
1         CKim@grtd123.com             EN              FR             NL
2        JChoi@grtd123.com             EN              FR            JPN
3        KKwao@grtd123.com             EN              DE            JPN
4         CFon@grtd123.com             EN              DE            KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?
- axis=0, want we voegen een rij toe.

- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

In [11]:
new_row_dict = {'SALES_STAFF_CODE': 999, 'WORK_PHONE': '123456789', 'EXTENSION': 123, 'FAX': '987654321', 'EMAIL': 'test@email.com'}

new_row_df = pd.DataFrame(new_row_dict, index=[len(sales_staff)]) # index is the length of the dataframe, so it will be added at the end

sales_staff = pd.concat([sales_staff, new_row_df], ignore_index=True)

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [12]:
first_name = sales_staff['FIRST_NAME']
last_name = sales_staff['LAST_NAME']
full_name = first_name + ' ' + last_name
full_name_series = pd.Series(full_name, name='FULL_NAME')
sales_staff = pd.concat([sales_staff, full_name_series], axis=1)
print (sales_staff)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative
102              999        NaN         NaN                           NaN

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
98     +55 (11) 344-4444      3490    +55 (11) 333-2223
99     +55 (11) 344-4444      3364    +55 (11) 333-2223
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102            123456789       123            987654321

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888  \
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T
102           test@email.com         NaN               NaN      NaN

             FULL_NAME
0    Tuomas Savolainen
1         Chang-ho Kim
2         Jung-ho Choi
3        Kwei-Ping Kao
4       Chin-Tsai Fang
..                 ...
98        Bayard Lopes
99       Viviam Barros
100  Eduardo Guimarães
101    Helena Lindholm
102                NaN

[103 rows x 12 columns]

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [13]:
sales_staff.dtypes

SALES_STAFF_CODE     object
FIRST_NAME           object
LAST_NAME            object
POSITION_EN          object
WORK_PHONE           object
EXTENSION            object
FAX                  object
EMAIL                object
DATE_HIRED           object
SALES_BRANCH_CODE    object
TRIAL888             object
FULL_NAME            object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [14]:
#sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
#sales_staff.dtypes

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [15]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION_EN           object
WORK_PHONE            object
EXTENSION            float64
FAX                   object
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
FULL_NAME             object
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [16]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'] + 1

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [17]:
position_en = sales_staff['POSITION_EN']
position_en = position_en.replace('Branch Manager', 'General Manager')
sales_staff['POSITION_EN'] = position_en

# printing out the dataframe where the position is General Manager
print(sales_staff[sales_staff['POSITION_EN'] == 'General Manager'])

# printing out how many Branch managers there are (should be 0)
print(len(sales_staff[sales_staff['POSITION_EN'] == 'Branch Manager']))

   SALES_STAFF_CODE FIRST_NAME      LAST_NAME      POSITION_EN  \
7               107     Walter         Taylor  General Manager
8               108   Penelope        Tamrine  General Manager
11              111      Polly         Linton  General Manager
19              119      Gracy        Gellens  General Manager
27               14      Frank          Fuchs  General Manager
30               17      Fritz         Hirsch  General Manager
33               20      Maria      Iacobucci  General Manager
38               25       Kick        Kalkman  General Manager
43               30      Karin      Bergström  General Manager
44                4      Denis           Pagé  General Manager
47               45      Sally          White  General Manager
50               48    Georges  Saint-Germain  General Manager
56               53       Alex      Rodriguez  General Manager
60               57   Samantha          Floyd  General Manager
65               61      Julie          Olsen  General Manager
69               65      Corey         Wright  General Manager
80               75      Julie        Béchard  General Manager
84               79      Lucía          Reyna  General Manager
91               89      Alice         Walter  General Manager
98               96     Bayard          Lopes  General Manager

             WORK_PHONE  EXTENSION                  FAX  \
7     +(44) 181 2033144     3548.0    +(44) 181 5030282
8     +(44) 181 2033144     3543.0    +(44) 181 5030282
11    +(44) 121 3505267     1217.0    +(44) 121 3583843
19      +32 16 20.73.21     1350.0      +32 16 20.73.32
27    +(49) 40 663 1990     1848.0    +(49) 40 663 4571
30    +(49) 89 882 3456      226.0    +(49) 89 882 3455
33   +(39) 02 41 05 400        NaN   +(39) 02 41 20 549
38  +31 (0)20 692 93 94      198.0  +31 (0)20 692 93 06
43     +(46) 08 753 116      216.0     +(46) 08 752 592
44    +33 1 68 94 52 20      326.0    +33 1 68 94 56 60
47     1 (403) 232-5986      318.0     1 (403) 232-5831
50     1 (416) 493-5595     1246.0     1 (416) 496-9667
56     1 (617) 268-6754     1335.0     1 (617) 268-3464
60     1 (206) 292-0012      332.0     1 (206) 292-3312
65     1 (310) 281-5722     2046.0     1 (310) 281-9087
69     1 (305) 557-4810     3491.0     1 (305) 557-7650
80    +33 4 52 26 33 88     1316.0    +33 4 66 35 98 95
84      +(525) 549 6090      453.0       +(52) 549 6088
91  +(61) 03 2982  4242     1846.0  +(61) 03 2982  4243
98    +55 (11) 344-4444     3491.0    +55 (11) 333-2223

                        EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888  \
7         WTaylor@grtd123.com    9-6-2011                35        T
8        PTamrine@grtd123.com  18-12-2014                35        T
11        PLinton@grtd123.com   18-6-2012                36        T
19       GGellens@grtd123.com   10-9-2015                38        T
27         FFuchs@grtd123.com   12-1-2013                13        T
30        FHirsch@grtd123.com   12-9-2012                14        T
33     MIacobucci@grtd123.com   18-8-2012                 7        T
38       KKalkman@grtd123.com    6-9-2011                 9        T
43     KBergstrom@grtd123.com   27-4-2014                15        T
44          DPage@grtd123.com   3-11-2012                 6        T
47         SWhite@grtd123.com   26-3-2008                17        T
50  GSaintgermain@grtd123.com  27-10-2007                18        T
56     ARodriguez@grtd123.com    7-2-2008                19        T
60         SFloyd@grtd123.com   17-7-2011                20        T
65         JOlsen@grtd123.com   18-2-2014                22        T
69        CWright@grtd123.com  11-10-2011                21        T
80       JBechard@grtd123.com    3-9-2010                23        T
84         LReyna@grtd123.com   10-3-2013                24        T
91        AWalter@grtd123.com    8-9-2015                28        T
98         BLopes@grtd123.com   12-8-2013                30        T

                FULL_NAME
7           Walter Taylor
8        Penelope Tamrine
11           Polly Linton
19          Gracy Gellens
27            Frank Fuchs
30           Fritz Hirsch
33        Maria Iacobucci
38           Kick Kalkman
43        Karin Bergström
44             Denis Pagé
47            Sally White
50  Georges Saint-Germain
56         Alex Rodriguez
60         Samantha Floyd
65            Julie Olsen
69           Corey Wright
80          Julie Béchard
84            Lucía Reyna
91           Alice Walter
98           Bayard Lopes
0

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [18]:
sales_staff = sales_staff.rename(columns={'POSITION_EN': 'POSITION'})

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [19]:
sales_staff = sales_staff.drop([99, 100, 101])

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [20]:
sales_staff = sales_staff.drop(columns=['FAX'])

sales_staff.dtypes

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION              object
WORK_PHONE            object
EXTENSION            float64
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
FULL_NAME             object
dtype: object