Practicumopdrachten Week 4.3 (eerste kans)

Dependecies

In [1]:
import pandas as pd
import pyodbc
import sqlite3

Connectie met smss database

In [2]:
DB = {
    'servername': '(local)\\SQLEXPRESS',
    'database': 'DEDS_DataWarehouse',}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')

export_cursor = export_conn.cursor()

# check if connection is successful, else throw an error
if export_conn:
    print("Connection with database is established")
else:
    print("Connection with database is not established")
    #raise Exception("Connection with database is not established")

Connection with database is established

# Brontabellen
importeer de brontabellen uit de brondata foler

In [3]:
# Connectie met sqlite databases
go_crm_connection = sqlite3.connect('brondata/go_crm.sqlite')
go_sales_connection = sqlite3.connect('brondata/go_sales.sqlite')
go_staff_connection = sqlite3.connect('brondata/go_staff.sqlite')

In [4]:
# inlezen csv bestanden
go_sales_inventory_levels = pd.read_csv('brondata/GO_SALES_INVENTORY_LEVELSData.csv')
go_sales_product_forcast = pd.read_csv('brondata/GO_SALES_PRODUCT_FORECASTData.csv')

## Inlezen van de sqlite tabellen

### go_crm

In [5]:
go_crm_age_group = pd.read_sql_query("SELECT * FROM age_group", go_crm_connection)
go_crm_country = pd.read_sql_query("SELECT * FROM country", go_crm_connection)
go_crm_retailer = pd.read_sql_query("SELECT * FROM retailer", go_crm_connection)
go_crm_retailer_contact = pd.read_sql_query("SELECT * FROM retailer_contact", go_crm_connection)
go_crm_retailer_headquarters = pd.read_sql_query("SELECT * FROM retailer_headquarters", go_crm_connection)
go_crm_retailer_segment = pd.read_sql_query("SELECT * FROM retailer_segment", go_crm_connection)
go_crm_retailer_site = pd.read_sql_query("SELECT * FROM retailer_site", go_crm_connection)
go_crm_retailer_type = pd.read_sql_query("SELECT * FROM retailer_type", go_crm_connection)
go_crm_sales_demographic = pd.read_sql_query("SELECT * FROM sales_demographic", go_crm_connection)
go_crm_sales_territory = pd.read_sql_query("SELECT * FROM sales_territory", go_crm_connection)

### go_sales

In [6]:
go_sales_country = pd.read_sql_query("SELECT * FROM country", go_sales_connection)
go_sales_order_details = pd.read_sql_query("SELECT * FROM order_details", go_sales_connection)
go_sales_order_header = pd.read_sql_query("SELECT * FROM order_header", go_sales_connection)
go_sales_order_method = pd.read_sql_query("SELECT * FROM order_method", go_sales_connection)
go_sales_product = pd.read_sql_query("SELECT * FROM product", go_sales_connection)
go_sales_product_line = pd.read_sql_query("SELECT * FROM product_line", go_sales_connection)
go_sales_product_type = pd.read_sql_query("SELECT * FROM product_type", go_sales_connection)
go_sales_retailer_site = pd.read_sql_query("SELECT * FROM retailer_site", go_sales_connection)
go_sales_return_reason = pd.read_sql_query("SELECT * FROM return_reason", go_sales_connection)
go_sales_returned_item = pd.read_sql_query("SELECT * FROM returned_item", go_sales_connection)
go_sales_sales_branch = pd.read_sql_query("SELECT * FROM sales_branch", go_sales_connection)
go_sales_sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", go_sales_connection)
go_sales_sales_target_data = pd.read_sql("SELECT * FROM SALES_TARGETData", go_sales_connection)

### go_staff

In [7]:
go_staff_course = pd.read_sql_query("SELECT * FROM course", go_staff_connection)
go_staff_sales_branch = pd.read_sql_query("SELECT * FROM sales_branch", go_staff_connection)
go_staff_sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", go_staff_connection)
go_staff_satisfaction = pd.read_sql_query("SELECT * FROM satisfaction", go_staff_connection)
go_staff_satisfaction_type = pd.read_sql_query("SELECT * FROM satisfaction_type", go_staff_connection)
go_staff_training = pd.read_sql_query("SELECT * FROM training", go_staff_connection)

# Combineren van de tabellen
Combineren van de brondata om tot ons ETL te komen

| Returned_item |
| --- |
| RETURNED_ITEM_code |
| RETURNED_ITEM_DATE_date |
| RETURNED_ITEM_QUANTITY_quantity |
| RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code |
| RETURNED_ITEM_RETURN_REASON_code |
| RETURNED_ITEM_RETURN_REASON_desctiption_en |
| RETURNED_ITEM_RETURNED_ITEMS_TOTAL_PRICE_total |

| Unit |
| --- |
| UNIT_id |
| UNIT_COST_cost |
| UNIT_PRICE_price |
| UNIT_SALE_sale |

| Sales_staff |
| --- |
| SALES_STAFF__code |
| SALES_STAFF_email |
| SALES_STAFF_extension |
| SALES_STAFF_POSITION_EN_position |
| SALES_STAFF_WORK_PHONE_work_phone |
| SALES_STAFF_DATE_HIRED_hired |
| SALES_STAFF_MANAGER_CODE_manager |
| SALES_STAFF_FAX_fax |
| SALES_STAFF_FIRST_NAME_first_name |
| SALES_STAFF_LAST_NAME_last_name |
| SALES_STAFF_FULL_NAME__full_name |
| SALES_STAFF_SALES_BRANCH_CODE_branch_code |
| SALES_STAFF_SALES_BRANCH_ADDRESS_address |
| SALES_STAFF_SALES_BRANCH_ADDRESS_EXTRA_address_extra |

| Satisfaction_type |
| --- |
| SATISFACTION_TYPE_code |
| SATISFACTION_TYPE_description |
| SATISFACTION_TYPE_description_short |

| Course |
| --- |
| COURSE_code |
| COURSE_description |
| COURSE_description_short |

| Year |
| --- |
| YEAR |

| Date            | 
|-----------------|
| DATE_date       |
| DATE_YEAR_year  |
| DATE_MONTH_month |
| DATE_DAY_day |

| Order |
| --- |
| ORDER_order_number |
| ORDER_ORDER_METHOD_CODE_method_code |
| ORDER_ORDER_METHOD_EN_method |

| Retailer_site |
| --- |
| RETAILER_SITE_code |
| RETAILER_SITE_COUNTRY_CODE_country |
| RETAILER_SITE_CITY_city |
| RETAILER_SITE_REGION_region |
| RETAILER_SITE_POSTAL_ZONE_postal_zone |
| RETAILER_SITE_RETAILER_CODE_retailer_code |
| RETAILER_SITE_ACTIVE_INDICATOR_indicator |
| RETAILER_SITE_ADDRESS1_address |
| RETAILER_SITE_ADDRESS2_address |
| RETAILER_SITE_MAIN_ADDRESS__address |

| Sales_branch |
| --- |
| SALES_BRANCH_code |
| SALES_BRANCH_COUNTRY_CODE_country |
| SALES_BRANCH_REGION_region |
| SALES_BRANCH_CITY_city |
| SALES_BRANCH_POSTAL_ZONE_postal_zone |
| SALES_BRANCH_ADDRESS1_address |
| SALES_BRANCH_ADDRESS2_address |
| SALES_BRANCH_MAIN_ADDRESS_address |

| Retailer_contact |
| --- |
| RETAILER_CONTACT_code |
| RETAILER_CONTACT_email |
| RETAILER_CONTACT_RETAILER_SITE_CODE_site_code |
| RETAILER_CONTACT_JOB_POSITION_EN_position |
| RETAILER_CONTACT_EXTENSION_extension |
| RETAILER_CONTACT_FAX_fax |
| RETAILER_CONTACT_GENDER_gender |
| RETAILER_CONTACT_FIRST_NAME_first_name |
| RETAILER_CONTACT_LAST_NAME_last_name |
| RETAILER_CONTACT_FULL_NAME_full_name |

| Retailer |
| --- |
| RETAILER_code |
| RETAILER__name |
| RETAILER_COMPANY_CODEMR_company |
| RETAILER_RETAILER_TYPE_retailer_type_code |
| RETAILER_RETAILER_TYPE_retailer_type_EN |

| Product |
| --- |
| PRODUCT_number |
| PRODUCT_name_product |
| PRODUCT_description_description |
| PRODUCT_image_image |
| PRODUCT_INTRODUCTION_DATE_introduced |
| PRODUCT_PRODUCTION_COST_cost |
| PRODUCT_MARGIN_margin |
| PRODUCT_LANGUAGE_language |
| PRODUCT_MINIMUM_SALE_PRICE_minPrice |
| PRODUCT_PRODUCT_LINE_code |
| PRODUCT_PRODUCT_LINE_code_en |
| PRODUCT_PRODUCT_TYPE_code |
| PRODUCT_PRODUCT_TYPE_code_en |

| Order_details |
| --- |
| ORDER_DETAILS_code |
| ORDER_DETAILS_QUANTITY_quantity |
| ORDER_DETAILS_TOTAL_COST_total |
| ORDER_DETAILS_TOTAL_MARGIN_margin |
| ORDER_DETAILS_RETURN_CODE_returned |
| ORDER_DETAILS_ORDER_NUMBER_order |
| ORDER_DETAILS_PRODUCT_NUMBER_product |
| ORDER_DETAILS_UNIT_ID_unit |

| SALES_TARGETData |
| --- |
| SALES_TARGETDATA_id |
| SALES_TARGETDATA_SALES_YEAR |
| SALES_TARGETDATA_SALES_PERIOD |
| SALES_TARGETDATA_RETAILER_NAME |
| SALES_TARGETDATA_SALES_TARGET |
| SALES_TARGETDATA_TARGET_COST |
| SALES_TARGETDATA_TARGET_MARGIN |
| SALES_TARGETDATA_SALES_STAFF_CODE |
| SALES_TARGETDATA_PRODUCT_NUMBER |
| SALES_TARGETDATA_RETAILER_CODE |

| Training |
| --- |
| TRAINING_SALES_STAFF_CODE |
| TRAINING_COURSE_CODE |
| TRAINING_YEAR |

| Satisfaction |
| --- |
| SATISFACTION_SALES_STAFF_CODE |
| SATISFACTION_SATISFACTION_TYPE_CODE |
| SATISFACTION_YEAR |

| Order_header |
| --- |
| ORDER_HEADER_number |
| ORDER_HEADER_RETAILER_NAME |
| ORDER_HEADER_SALES_STAFF |
| ORDER_HEADER_SALES_BRANCH_CODE |
| ORDER_HEADER_ORDER_DATE |
| ORDER_HEADER_RETAILER_SITE_CODE |
| ORDER_HEADER_RETAILER_CONTACT_CODE |

| GO_SALES_INVENTORY_LEVELS |
| --- |
| GO_SALES_INVENTORY_LEVELS_id |
| GO_SALES_INVENTORY_LEVELS_INVENTORY_COUNT |
| GO_SALES_INVENTORY_LEVELS_PRODUCT_NUMBER |
| GO_SALES_INVENTORY_LEVELS_YEAR_MONTH |

| GO_SALES_PRODUCT_FORECAST |
| --- |
| GO_SALES_PRODUCT_FORECAST_id |
| GO_SALES_PRODUCT_FORECAST_EXPECTED_VOLUME |
| GO_SALES_PRODUCT_FORECAST_EXPECTED_COST |
| GO_SALES_PRODUCT_FORECAST_EXPECTED_MARGIN |
| GO_SALES_PRODUCT_FORECAST_PRODUCT_NUMBER |
| GO_SALES_PRODUCT_FORECAST_YEAR_MONTH |

### returned_item

In [8]:
# to be used in order details
returned_item_columns = ['RETURN_CODE', 'RETURN_DATE', 'RETURN_QUANTITY', 'ORDER_DETAIL_CODE', 'RETURN_REASON_CODE', 'RETURN_DESCRIPTION_EN']
returned_item = pd.merge(go_sales_returned_item, go_sales_return_reason, left_on='RETURN_REASON_CODE', right_on='RETURN_REASON_CODE')
returned_item = pd.merge(returned_item, go_sales_order_details, left_on='ORDER_DETAIL_CODE', right_on='ORDER_DETAIL_CODE')

# filtering the columns
returned_item = returned_item[returned_item_columns]

# renaming the columns
returned_item = returned_item.rename(columns={'RETURN_CODE': 'RETURNED_ITEM_code', 'RETURN_DATE': 'RETURNED_ITEM_DATE_date', 'RETURN_QUANTITY': 'RETURNED_ITEM_QUANTITY_quantity', 'ORDER_DETAIL_CODE': 'RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code', 'RETURN_REASON_CODE': 'RETURNED_ITEM_RETURN_REASON_code', 'RETURN_DESCRIPTION_EN': 'RETURNED_ITEM_RETURN_REASON_desctiption_en'})

returned_item.head()

,RETURNED_ITEM_code,RETURNED_ITEM_DATE_date,RETURNED_ITEM_QUANTITY_quantity,RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code,RETURNED_ITEM_RETURN_REASON_code,RETURNED_ITEM_RETURN_REASON_desctiption_en
0,1491,1-8-2021 04:10:24,8,84858,5,Unsatisfactory product
1,1492,6-12-2020 18:46:19,2,84440,2,Incomplete product
2,1493,24-6-2021 09:23:14,22,84867,4,Wrong product shipped
3,1494,21-7-2021 00:00:09,20,84873,3,Wrong product ordered
4,1496,7-10-2020 05:13:58,2,84488,1,Defective product

### Unit

In [9]:
unit_columns = ['UNIT_COST', 'UNIT_PRICE', 'UNIT_SALE_PRICE']
unit = go_sales_order_details
# make unit_id the primary key, autoincrement
unit['UNIT_ID'] = range(1, len(unit) + 1)
unit = unit.set_index('UNIT_ID')

# filtering the columns
unit = unit[unit_columns]

# renaming the columns
unit = unit.rename(columns={'UNIT_COST': 'UNIT_COST_cost', 'UNIT_PRICE': 'UNIT_PRICE_price', 'UNIT_SALE_PRICE': 'UNIT_SALE_sale'})

unit.head()

        UNIT_COST_cost UNIT_PRICE_price UNIT_SALE_sale
UNIT_ID
1                 16.1            22.54          22.54
2                 16.1            22.54          22.54
3                 16.1            22.54          22.54
4                 16.1            22.54          22.54
5                 16.1            22.54          22.54

### Sales_staff

In [10]:
sales_staff_columns = ['SALES_STAFF_CODE', 'EMAIL', 'EXTENSION', 'POSITION_EN', 'WORK_PHONE', 'DATE_HIRED', 'MANAGER_CODE', 'FAX', 'FIRST_NAME', 'LAST_NAME',  'ADDRESS1', 'ADDRESS2', 'SALES_BRANCH_CODE']

sales_staff = pd.merge(go_staff_sales_staff, go_staff_sales_branch, left_on='SALES_BRANCH_CODE', right_on='SALES_BRANCH_CODE')

# filtering the columns
sales_staff = sales_staff[sales_staff_columns]

# renaming the columns
sales_staff = sales_staff.rename(columns={'SALES_STAFF_CODE': 'SALES_STAFF_code', 'EMAIL': 'SALES_STAFF_email', 'EXTENSION': 'SALES_STAFF_extension', 'POSITION_EN': 'SALES_STAFF_POSITION_EN_position', 'WORK_PHONE': 'SALES_STAFF_WORK_PHONE_work_phone', 'DATE_HIRED': 'SALES_STAFF_DATE_HIRED_hired', 'MANAGER_CODE': 'SALES_STAFF_MANAGER_CODE_manager', 'FAX': 'SALES_STAFF_FAX_fax', 'FIRST_NAME': 'SALES_STAFF_FIRST_NAME_first_name', 'LAST_NAME': 'SALES_STAFF_LAST_NAME_last_name', 'ADDRESS1': 'SALES_STAFF_SALES_BRANCH_ADDRESS_address', 'ADDRESS2': 'SALES_STAFF_SALES_BRANCH_ADDRESS_EXTRA_address_extra', 'SALES_BRANCH_CODE' : 'SALES_STAFF_SALES_BRANCH_CODE_branch_code'})

sales_staff.head()

,SALES_STAFF_code,SALES_STAFF_email,SALES_STAFF_extension,SALES_STAFF_POSITION_EN_position,SALES_STAFF_WORK_PHONE_work_phone,SALES_STAFF_DATE_HIRED_hired,SALES_STAFF_MANAGER_CODE_manager,SALES_STAFF_FAX_fax,SALES_STAFF_FIRST_NAME_first_name,SALES_STAFF_LAST_NAME_last_name,SALES_STAFF_SALES_BRANCH_ADDRESS_address,SALES_STAFF_SALES_BRANCH_ADDRESS_EXTRA_address_extra,SALES_STAFF_SALES_BRANCH_CODE_branch_code
0,100,TSavolainen@grtd123.com,825,Level 2 Sales Representative,+358(0)17 - 433 127,23-Jul-1998 12:00:00 AM,18,+358(0)17 - 433 129,Tuomas,Savolainen,Kauppakatu 33,None,31
1,101,CKim@grtd123.com,1228,Level 2 Sales Representative,82-2-778-6587,15-Dec-1998 12:00:00 AM,87,82-2-778-6586,Chang-ho,Kim,"234-12, Kongdeok-Dong",Mapo-Ku,32
2,102,JChoi@grtd123.com,2641,Level 3 Sales Representative,82-2-778-6587,27-Nov-1998 12:00:00 AM,87,82-2-778-6586,Jung-ho,Choi,"234-12, Kongdeok-Dong",Mapo-Ku,32
3,103,KKwao@grtd123.com,1541,Level 2 Sales Representative,886-2-2975-1988,07-Oct-1998 12:00:00 AM,87,886-2-2989-4978,Kwei-Ping,Kao,"154, Choung-Cheng South Road",None,33
4,104,CFon@grtd123.com,2311,Level 3 Sales Representative,886-2-2975-1988,08-May-1996 12:00:00 AM,87,886-2-2989-4978,Chin-Tsai,Fang,"154, Choung-Cheng South Road",None,33

### Satisfaction_type

In [11]:
satisfaction_type = go_staff_satisfaction_type

#dropping trial633 column
satisfaction_type = satisfaction_type.drop(columns=['TRIAL633'])

# rename the columns
satisfaction_type = satisfaction_type.rename(columns={'SATISFACTION_TYPE_CODE': 'SATISFACTION_TYPE_code', 'DESCRIPTION': 'SATISFACTION_TYPE_description'})

satisfaction_type.head()

  SATISFACTION_TYPE_code SATISFACTION_TYPE_DESCRIPTION
0                      1                 Not satisfied
1                      2           Less than satisfied
2                      3                     Satisfied
3                      4                Very Satisfied
4                      5           More than satisfied

### Course

In [12]:
course = go_staff_course

# dropping the trial633 column
course = course.drop(columns=['TRIAL633'])

# rename the columns
course = course.rename(columns={'COURSE_CODE': 'COURSE_code', 'DESCRIPTION': 'COURSE_description'})

course.head()

  COURSE_code COURSE_DESCRIPTION
0           1     GO Orientation
1           2   GO Communication
2           3         GO Sales 1
3           4         GO Sales 2
4           5     GO Marketing 1

### Year

In [13]:
# to be used in training and satisfaction
# making year dataframe with year as the primary key
year = pd.DataFrame({'YEAR': pd.date_range(start='1/1/1990', end='1/1/2200').year})

# adding all the years from the satisfaction and training data.
year = pd.concat([year, pd.DataFrame({'YEAR': go_staff_training['YEAR']})])
year = pd.concat([year, pd.DataFrame({'YEAR': go_staff_satisfaction['YEAR']})])

# drop duplicates
year = year.drop_duplicates()

# setting the index
year = year.set_index('YEAR')

year.head()

Empty DataFrame
Columns: []
Index: [1990, 1991, 1992, 1993, 1994]

### Date

In [14]:
# to be used in order header
date = pd.DataFrame({'DATE_date': pd.date_range(start='1/1/1990', end='1/1/2200')})

# adding all the years from the order header data
date = pd.concat([date, pd.DataFrame({'DATE_date': go_sales_order_header['ORDER_DATE']})])

# drop duplicates
date = date.drop_duplicates()

# setting the index
date['DATE_date'] = pd.to_datetime(date['DATE_date']) # convert to datetime
date = date.set_index('DATE_date')

date.head()

Empty DataFrame
Columns: []
Index: [1990-01-01 00:00:00, 1990-01-02 00:00:00, 1990-01-03 00:00:00, 1990-01-04 00:00:00, 1990-01-05 00:00:00]

### Order

In [15]:
# to be used in order header
# making order dataframe with order_number as the primary key 
order = pd.DataFrame({'ORDER_order_number': range(1, len(go_sales_order_method) + 1)})
order['ORDER_ORDER_METHOD_CODE_method_code'] = go_sales_order_method['ORDER_METHOD_CODE']
order['ORDER_ORDER_METHOD_EN_method'] = go_sales_order_method['ORDER_METHOD_EN']

order = order.set_index('ORDER_order_number')

order.head()

,ORDER_ORDER_METHOD_CODE_method_code,ORDER_ORDER_METHOD_EN_method
ORDER_order_number,,
1,1,Fax
2,2,Telephone
3,3,Mail
4,4,E-mail
5,5,Web

### Retailer_site

In [16]:
retailer_site = go_sales_retailer_site

# dropping the trial888 column
retailer_site = retailer_site.drop(columns=['TRIAL888'])

# rename the columns
retailer_site = retailer_site.rename(columns={'RETAILER_SITE_CODE': 'RETAILER_SITE_code', 'COUNTRY_CODE': 'RETAILER_SITE_COUNTRY_CODE_country', 'CITY': 'RETAILER_SITE_CITY_city', 'REGION': 'RETAILER_SITE_REGION_region', 'POSTAL_ZONE': 'RETAILER_SITE_POSTAL_ZONE_postal_zone', 'RETAILER_CODE': 'RETAILER_SITE_RETAILER_CODE_retailer_code', 'ACTIVE_INDICATOR': 'RETAILER_SITE_ACTIVE_INDICATOR_indicator', 'ADDRESS1': 'RETAILER_SITE_ADDRESS1_address', 'ADDRESS2': 'RETAILER_SITE_ADDRESS2_address'})

retailer_site.head()

,RETAILER_SITE_code,RETAILER_SITE_RETAILER_CODE_retailer_code,RETAILER_SITE_ADDRESS1_address,RETAILER_SITE_ADDRESS2_address,RETAILER_SITE_CITY_city,RETAILER_SITE_REGION_region,RETAILER_SITE_POSTAL_ZONE_postal_zone,RETAILER_SITE_COUNTRY_CODE_country,RETAILER_SITE_ACTIVE_INDICATOR_indicator
0,1,89,1117 Franklin Blvd,None,Winnipeg,Manitoba,R2C 0M5,4,1
1,10,92,"Suite 1500, 802 Docklands Street",None,Vancouver,British Columbia,V6E 3Z3,4,1
2,100,95,4830 Princeton,Unit 2,Albuquerque,New Mexico,87186,3,1
3,101,95,6630 Burnet Road,None,Austin,Texas,78769,3,1
4,102,108,2189 Louisville Road,None,Independence,Kentucky,41051,3,0

### Sales_branch

In [17]:
sales_branch = go_sales_sales_branch

# dropping the trial888 column
sales_branch = sales_branch.drop(columns=['TRIAL888'])

# rename the columns
sales_branch = sales_branch.rename(columns={'SALES_BRANCH_CODE': 'SALES_BRANCH_code', 'COUNTRY_CODE': 'SALES_BRANCH_COUNTRY_CODE_country', 'REGION': 'SALES_BRANCH_REGION_region', 'CITY': 'SALES_BRANCH_CITY_city', 'POSTAL_ZONE': 'SALES_BRANCH_POSTAL_ZONE_postal_zone', 'ADDRESS1': 'SALES_BRANCH_ADDRESS1_address', 'ADDRESS2': 'SALES_BRANCH_ADDRESS2_address', 'MAIN_ADDRESS': 'SALES_BRANCH_MAIN_ADDRESS_address'})

sales_branch.head()

,SALES_BRANCH_code,SALES_BRANCH_ADDRESS1_address,SALES_BRANCH_ADDRESS2_address,SALES_BRANCH_CITY_city,SALES_BRANCH_REGION_region,SALES_BRANCH_POSTAL_ZONE_postal_zone,SALES_BRANCH_COUNTRY_CODE_country
0,13,Schwabentor 35,None,Hamburg,None,D-22529,2
1,14,Leopoldstraße 36,None,München,None,D-81241,2
2,15,Isafjordsgatan 30 C,None,Kista,None,S-164 40,10
3,17,"7800, 756 - 6th Avenue. S.W.",None,Calgary,Alberta,T2P 3Z0,4
4,18,789 Yonge Street,None,Toronto,Ontario,M2M 4K8,4

### Retailer_contact

In [18]:
retailer_contact = go_crm_retailer_contact

# dropping the trial222 column
retailer_contact = retailer_contact.drop(columns=['TRIAL222'])

# rename the columns
retailer_contact = retailer_contact.rename(columns={'RETAILER_CONTACT_CODE': 'RETAILER_CONTACT_code', 'E_MAIL': 'RETAILER_CONTACT_email', 'RETAILER_SITE_CODE': 'RETAILER_CONTACT_RETAILER_SITE_CODE_site_code', 'JOB_POSITION_EN': 'RETAILER_CONTACT_JOB_POSITION_EN_position', 'EXTENSION': 'RETAILER_CONTACT_EXTENSION_extension', 'FAX': 'RETAILER_CONTACT_FAX_fax', 'GENDER' : 'RETAILER_CONTACT_GENDER_gender', 'FIRST_NAME': 'RETAILER_CONTACT_FIRST_NAME_first_name', 'LAST_NAME': 'RETAILER_CONTACT_LAST_NAME_last_name'})

retailer_contact.head()

,RETAILER_CONTACT_code,RETAILER_CONTACT_RETAILER_SITE_CODE_site_code,RETAILER_CONTACT_FIRST_NAME_first_name,RETAILER_CONTACT_LAST_NAME_last_name,RETAILER_CONTACT_JOB_POSITION_EN_position,RETAILER_CONTACT_EXTENSION_extension,RETAILER_CONTACT_FAX_fax,RETAILER_CONTACT_email,RETAILER_CONTACT_GENDER_gender
0,10,14,Frank,Smith,Chief Purchaser,2489,1 (514) 741-1610,FSmith@legolfeurinc.com,M
1,100,85,Amanda,Yates,Stock Manager,None,1 (702) 369-2274,Y2883@emertxe.com,F
2,101,84,Paula,Schmidt,Assistant Purchaser,None,1 (702) 882-0978,S8832@emertxe.com,F
3,102,88,Micheal,Tao,District Manager,445,1 (713) 524-3215,T8839@emertxe.com,M
4,103,92,Jack,Murphy,District Manager,None,1 (305) 557-5478,Murphy@eyedimensions3.com,M

### Retailer

In [19]:
retailer = pd.merge(go_crm_retailer, go_crm_retailer_type, left_on='RETAILER_TYPE_CODE', right_on='RETAILER_TYPE_CODE')

# dropping the trial219 and trial222 columns
retailer = retailer.drop(columns=['TRIAL219', 'TRIAL222'])

# rename the columns
retailer = retailer.rename(columns={'RETAILER_CODE': 'RETAILER_code', 'COMPANY_NAME': 'RETAILER_name', 'RETAILER_CODEMR': 'RETAILER_COMPANY_CODE_MR_company', 'RETAILER_TYPE_CODE': 'RETAILER_RETAILER_TYPE_retailer_type_code', 'RETAILER_TYPE_EN': 'RETAILER_RETAILER_TYPE_retailer_type_EN'})

retailer.head()

,RETAILER_code,RETAILER_COMPANY_CODE_MR_company,RETAILER_name,RETAILER_RETAILER_TYPE_retailer_type_code,RETAILER_RETAILER_TYPE_retailer_type_EN
0,1,None,ActiForme,5,Equipment Rental Store
1,100,70,Golf Masters,1,Golf Shop
2,101,71,The Marketplace,2,Department Store
3,102,72,Camping Equipment Online,3,Direct Marketing
4,103,73,Tamarack Outfitter Rentals,5,Equipment Rental Store

### Product

In [20]:
product = pd.merge(go_sales_product, go_sales_product_type, left_on='PRODUCT_TYPE_CODE', right_on='PRODUCT_TYPE_CODE')
product = pd.merge(product, go_sales_product_line, left_on='PRODUCT_LINE_CODE', right_on='PRODUCT_LINE_CODE')

#dropping the trial888 column
product = product.drop(columns=['TRIAL888'])

# rename the columns
product = product.rename(columns={'PRODUCT_NUMBER': 'PRODUCT_number', 'PRODUCT_NAME': 'PRODUCT_name_product', 'DESCRIPTION': 'PRODUCT_description_description', 'PRODUCT_IMAGE': 'PRODUCT_image_image', 'INTRODUCTION_DATE': 'PRODUCT_INTRODUCTION_DATE_introduced', 'PRODUCTION_COST': 'PRODUCT_PRODUCTION_COST_cost', 'MARGIN': 'PRODUCT_MARGIN_margin', 'LANGUAGE': 'PRODUCT_LANGUAGE_language',  'PRODUCT_TYPE_CODE': 'PRODUCT_PRODUCT_TYPE_code', 'PRODUCT_TYPE_EN': 'PRODUCT_PRODUCT_TYPE_code_en', 'PRODUCT_LINE_CODE': 'PRODUCT_PRODUCT_LINE_code', 'PRODUCT_LINE_EN': 'PRODUCT_PRODUCT_LINE_code_en'})

product.head()

,PRODUCT_number,PRODUCT_INTRODUCTION_DATE_introduced,PRODUCT_PRODUCT_TYPE_code,PRODUCT_PRODUCTION_COST_cost,PRODUCT_MARGIN_margin,PRODUCT_image_image,PRODUCT_LANGUAGE_language,PRODUCT_name_product,PRODUCT_description_description,TRIAL888_x,PRODUCT_PRODUCT_LINE_code,PRODUCT_PRODUCT_TYPE_code_en,TRIAL888_y,PRODUCT_PRODUCT_LINE_code_en
0,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,1,Cooking Gear,T,Camping Equipment
1,10,15-2-2011,1,10,.4,P10CE1CG1.jpg,EN,TrailChef Utensils,"Spoon, fork and knife set made of a light yet ...",T,1,Cooking Gear,T,Camping Equipment
2,100,15-2-2011,17,3,.5,P100OP4FA17.jpg,EN,Insect Bite Relief,The Insect Bite Relief helps the itching and s...,T,4,First Aid,T,Outdoor Protection
3,101,15-12-2019,18,305.54,.43,P101GE5IR18.jpg,EN,Hailstorm Steel Irons,Iron is 17-4 stainless steel. Shafts are grap...,T,5,Irons,T,Golf Equipment
4,102,10-12-2019,18,380.95,.51,P102GE5IR18.jpg,EN,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...,T,5,Irons,T,Golf Equipment

### Order_details

In [21]:
order_details = go_sales_order_details

# replacing original columns with unit and returned_item
order_details['ORDER_DETAILS_UNIT_ID_unit'] = unit.index

# merging the returned_item and order_details
order_details = pd.merge(order_details, returned_item, left_on='ORDER_DETAIL_CODE', right_on='RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code')

# dropping the columns replaced by unit and returned_item
order_details = order_details.drop(columns=['UNIT_COST', 'UNIT_PRICE', 'UNIT_SALE_PRICE']) 


# dropping the trial879 column
order_details = order_details.drop(columns=['TRIAL879'])

# rename the columns
order_details = order_details.rename(columns={'ORDER_DETAILS_CODE': 'ORDER_DETAILS_code', 'QUANTITY': 'ORDER_DETAILS_QUANTITY_quantity', 'RETURNED_ITEM_code': 'ORDER_DETAILS_RETURN_CODE_returned', 'ORDER_NUMBER': 'ORDER_DETAILS_ORDER_NUMBER_order', 'PRODUCT_NUMBER': 'ORDER_DETAILS_PRODUCT_NUMBER_product', 'UNIT_ID': 'ORDER_DETAILS_UNIT_ID_unit'})

order_details.head()

,ORDER_DETAIL_CODE,ORDER_DETAILS_ORDER_NUMBER_order,ORDER_DETAILS_PRODUCT_NUMBER_product,ORDER_DETAILS_QUANTITY_quantity,ORDER_DETAILS_UNIT_ID_unit,ORDER_DETAILS_UNIT_ID_unit,ORDER_DETAILS_RETURN_CODE_returned,RETURNED_ITEM_DATE_date,RETURNED_ITEM_QUANTITY_quantity,RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code,RETURNED_ITEM_RETURN_REASON_code,RETURNED_ITEM_RETURN_REASON_desctiption_en
0,100146,8465,15,16,144,144,1975,9-8-2021 18:45:17,16,100146,4,Wrong product shipped
1,100149,9116,16,64,147,147,1976,6-7-2021 13:34:59,64,100149,5,Unsatisfactory product
2,100199,9113,30,22,197,197,1979,6-7-2021 07:19:36,22,100199,4,Wrong product shipped
3,100250,9254,43,52,248,248,2298,14-12-2021 11:28:50,6,100250,1,Defective product
4,100641,9269,111,6,635,635,2301,19-12-2021 04:10:53,6,100641,4,Wrong product shipped

### Training

In [22]:
training = go_staff_training

# replacing the original columns with year and course
# merging the year and course
training = pd.merge(training, year, left_on='YEAR', right_on='YEAR')
training = pd.merge(training, course, left_on='COURSE_CODE', right_on='COURSE_code')

# dropping the trial633 column
training = training.drop(columns=['TRIAL633'])

# rename the columns
training = training.rename(columns={'SALES_STAFF_CODE': 'TRAINING_SALES_STAFF_CODE', 'COURSE_CODE': 'TRAINING_COURSE_CODE', 'YEAR': 'TRAINING_YEAR'})

training.head()

,TRAINING_YEAR,TRAINING_SALES_STAFF_CODE,TRAINING_COURSE_CODE,COURSE_code,COURSE_DESCRIPTION
0,2004,100,2,2,GO Communication
1,2004,100,3,3,GO Sales 1
2,2004,100,4,4,GO Sales 2
3,2005,100,5,5,GO Marketing 1
4,2006,100,6,6,GO Marketing 2

### Satisfaction

In [23]:
satisfaction = go_staff_satisfaction

# replacing the original columns with year and satisfaction_type
# merging the year and satisfaction_type
satisfaction = pd.merge(satisfaction, year, left_on='YEAR', right_on='YEAR')
satisfaction = pd.merge(satisfaction, satisfaction_type, left_on='SATISFACTION_TYPE_CODE', right_on='SATISFACTION_TYPE_code')

# dropping the trial633 column
satisfaction = satisfaction.drop(columns=['TRIAL633'])

# rename the columns
satisfaction = satisfaction.rename(columns={'SALES_STAFF_CODE': 'SATISFACTION_SALES_STAFF_CODE', 'SATISFACTION_TYPE_CODE': 'SATISFACTION_SATISFACTION_TYPE_CODE', 'YEAR': 'SATISFACTION_YEAR'})

satisfaction.head()

,SATISFACTION_YEAR,SATISFACTION_SALES_STAFF_CODE,SATISFACTION_SATISFACTION_TYPE_CODE,SATISFACTION_TYPE_code,SATISFACTION_TYPE_DESCRIPTION
0,2004,100,1,1,Not satisfied
1,2004,101,4,4,Very Satisfied
2,2004,102,4,4,Very Satisfied
3,2004,103,3,3,Satisfied
4,2004,104,4,4,Very Satisfied

### Order_header

In [24]:
order_header = pd.merge(go_sales_order_header, retailer, left_on='RETAILER_NAME', right_on='RETAILER_name')

# converting the date to datetime
order_header['ORDER_DATE'] = pd.to_datetime(order_header['ORDER_DATE'])

# replacing the original columns with date, sales_staff, retailer_site and retailer_contact
# merging the date, sales_staff, retailer_site and retailer_contact
order_header = pd.merge(order_header, date, left_on='ORDER_DATE', right_on='DATE_date')
order_header = pd.merge(order_header, sales_staff, left_on='SALES_STAFF_CODE', right_on='SALES_STAFF_code')
order_header = pd.merge(order_header, retailer_site, left_on='RETAILER_SITE_CODE', right_on='RETAILER_SITE_code')
order_header = pd.merge(order_header, retailer_contact, left_on='RETAILER_CONTACT_CODE', right_on='RETAILER_CONTACT_code')

# dropping the trial885 column
order_header = order_header.drop(columns=['TRIAL885'])

# rename the columns
order_header = order_header.rename(columns={'ORDER_NUMBER': 'ORDER_HEADER_number', 'RETAILER_NAME': 'ORDER_HEADER_RETAILER_NAME', 'SALES_STAFF_CODE': 'ORDER_HEADER_SALES_STAFF', 'SALES_BRANCH_CODE': 'ORDER_HEADER_SALES_BRANCH_CODE', 'ORDER_DATE': 'ORDER_HEADER_ORDER_DATE', 'RETAILER_SITE_CODE': 'ORDER_HEADER_RETAILER_SITE_CODE', 'RETAILER_CONTACT_CODE': 'ORDER_HEADER_RETAILER_CONTACT_CODE'})

order_header.head()

,ORDER_HEADER_number,ORDER_HEADER_RETAILER_NAME,ORDER_HEADER_RETAILER_SITE_CODE,ORDER_HEADER_RETAILER_CONTACT_CODE,ORDER_HEADER_SALES_STAFF,ORDER_HEADER_SALES_BRANCH_CODE,ORDER_HEADER_ORDER_DATE,ORDER_METHOD_CODE,RETAILER_code,RETAILER_COMPANY_CODE_MR_company,...,RETAILER_SITE_ACTIVE_INDICATOR_indicator,RETAILER_CONTACT_code,RETAILER_CONTACT_RETAILER_SITE_CODE_site_code,RETAILER_CONTACT_FIRST_NAME_first_name,RETAILER_CONTACT_LAST_NAME_last_name,RETAILER_CONTACT_JOB_POSITION_EN_position,RETAILER_CONTACT_EXTENSION_extension,RETAILER_CONTACT_FAX_fax,RETAILER_CONTACT_email,RETAILER_CONTACT_GENDER_gender
0,1153,Ultra Sports,4,6,50,18,2020-04-14,7,90,2,...,1,6,4,Marie,Turcotte,Assistant Purchaser,635,1 (514) 747-2582,MTurcotte@cybserv19.com,F
1,1153,Ultra Sports,4,6,50,18,2020-04-14,7,90,2,...,1,6,4,Marie,Turcotte,Assistant Purchaser,635,1 (514) 747-2582,MTurcotte@cybserv19.com,F
2,1154,Ultra Sports,4,6,50,18,2020-10-01,4,90,2,...,1,6,4,Marie,Turcotte,Assistant Purchaser,635,1 (514) 747-2582,MTurcotte@cybserv19.com,F
3,1154,Ultra Sports,4,6,50,18,2020-10-01,4,90,2,...,1,6,4,Marie,Turcotte,Assistant Purchaser,635,1 (514) 747-2582,MTurcotte@cybserv19.com,F
4,1155,Ultra Sports,5,65,49,18,2020-04-21,7,90,2,...,1,65,5,Andrea,Martens,Stock Manager,None,1 (705) 675-9848,AMartens@cybserv19.com,F

### GO_SALES_INVENTORY_LEVELS

In [25]:
go_sales_inventory_levels = go_sales_inventory_levels.rename(columns={'INVENTORY_COUNT': 'GO_SALES_INVENTORY_LEVELS_INVENTORY_COUNT', 'PRODUCT_NUMBER': 'GO_SALES_INVENTORY_LEVELS_PRODUCT_NUMBER', 'YEAR_MONTH': 'GO_SALES_INVENTORY_LEVELS_YEAR_MONTH'})

go_sales_inventory_levels.head()

,INVENTORY_YEAR,INVENTORY_MONTH,GO_SALES_INVENTORY_LEVELS_PRODUCT_NUMBER,GO_SALES_INVENTORY_LEVELS_INVENTORY_COUNT
0,2021,4,48,1932
1,2021,4,49,1400
2,2021,4,50,21705
3,2021,4,51,9710
4,2021,4,52,5616

### GO_SALES_PRODUCT_FORECAST

In [26]:
go_sales_product_forecast = go_sales_product_forcast.rename(columns={'EXPECTED_VOLUME': 'GO_SALES_PRODUCT_FORECAST_EXPECTED_VOLUME', 'EXPECTED_COST': 'GO_SALES_PRODUCT_FORECAST_EXPECTED_COST', 'EXPECTED_MARGIN': 'GO_SALES_PRODUCT_FORECAST_EXPECTED_MARGIN', 'PRODUCT_NUMBER': 'GO_SALES_PRODUCT_FORECAST_PRODUCT_NUMBER', 'YEAR_MONTH': 'GO_SALES_PRODUCT_FORECAST_YEAR_MONTH'})

go_sales_product_forecast.head()

,GO_SALES_PRODUCT_FORECAST_PRODUCT_NUMBER,YEAR,MONTH,GO_SALES_PRODUCT_FORECAST_EXPECTED_VOLUME
0,44,2022,12,383
1,45,2021,1,80
2,45,2021,2,51
3,45,2021,3,214
4,45,2021,4,300

###  SALES_TARGETData

In [27]:
# merge product, retailer and sales_staff
go_sales_sales_target_data = pd.merge(go_sales_sales_target_data, product, left_on='PRODUCT_NUMBER', right_on='PRODUCT_number')

go_sales_sales_target_data = pd.merge(go_sales_sales_target_data, retailer, left_on='RETAILER_CODE', right_on='RETAILER_code')

# delete the original columns that are replaced by product, retailer and sales_staff
go_sales_sales_target_data = go_sales_sales_target_data.drop(columns=['PRODUCT_NUMBER', 'RETAILER_CODE', 'RETAILER_name', 'RETAILER_COMPANY_CODE_MR_company', 'RETAILER_RETAILER_TYPE_retailer_type_code', 'RETAILER_RETAILER_TYPE_retailer_type_EN'])

# deleting the trial888 column
go_sales_sales_target_data = go_sales_sales_target_data.drop(columns=['TRIAL888_x', 'TRIAL888_y', 'TRIAL888'])

sales_target_data = go_sales_sales_target_data.rename(columns={'SALES_YEAR': 'SALES_TARGETDATA_SALES_YEAR', 'SALES_PERIOD': 'SALES_TARGETDATA_SALES_PERIOD', 'RETAILER_NAME': 'SALES_TARGETDATA_RETAILER_NAME', 'SALES_TARGET': 'SALES_TARGETDATA_SALES_TARGET', 'TARGET_COST': 'SALES_TARGETDATA_TARGET_COST', 'TARGET_MARGIN': 'SALES_TARGETDATA_TARGET_MARGIN', 'SALES_STAFF_CODE': 'SALES_TARGETDATA_SALES_STAFF_CODE', 'PRODUCT_NUMBER': 'SALES_TARGETDATA_PRODUCT_NUMBER', 'RETAILER_CODE': 'SALES_TARGETDATA_RETAILER_CODE'})

sales_target_data.head()

,Id,SALES_TARGETDATA_SALES_STAFF_CODE,SALES_TARGETDATA_SALES_YEAR,SALES_TARGETDATA_SALES_PERIOD,SALES_TARGETDATA_RETAILER_NAME,SALES_TARGETDATA_SALES_TARGET,PRODUCT_number,PRODUCT_INTRODUCTION_DATE_introduced,PRODUCT_PRODUCT_TYPE_code,PRODUCT_PRODUCTION_COST_cost,PRODUCT_MARGIN_margin,PRODUCT_image_image,PRODUCT_LANGUAGE_language,PRODUCT_name_product,PRODUCT_description_description,PRODUCT_PRODUCT_LINE_code,PRODUCT_PRODUCT_TYPE_code_en,PRODUCT_PRODUCT_LINE_code_en,RETAILER_code
0,1,6,2021,5,Altitudes extrêmes,489,53,10-1-2021,8,28.55,.28,P53ME2CA8.jpg,EN,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...,2,Climbing Accessories,Mountaineering Equipment,33
1,2,6,2021,5,Altitudes extrêmes,666,55,10-1-2021,8,4,.5,P55ME2CA8.jpg,EN,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...,2,Climbing Accessories,Mountaineering Equipment,33
2,3,6,2021,5,Altitudes extrêmes,682,56,10-1-2021,8,9,.5,P56ME2CA8.jpg,EN,Granite Chalk Bag,Nylon web bag perfect for holding several stic...,2,Climbing Accessories,Mountaineering Equipment,33
3,4,6,2021,5,Camping Sauvage,3193,76,15-2-2011,12,23.53,.4,P76PA3KV12.jpg,EN,Bear Edge,Knife is 33 cm long with a 20 cm blade made of...,3,Knives,Personal Accessories,35
4,5,6,2021,5,Camping Sauvage,7236,85,12-6-2015,14,176.47,.4,P85PA3NV14.jpg,EN,Glacier GPS Extreme,Hand held GPS receiver with color display. Inc...,3,Navigation,Personal Accessories,35

# Omzetten van de data
Omzetten van de data naar de juiste data types.
Year en Date zijn al omgezet naar de juiste data types.
GO_SALES_INVENTORY_LEVELS en GO_SALES_PRODUCT_FORECAST hebben ook al de juiste datatypen

### Unit

In [28]:
unit['UNIT_COST_cost'] = unit['UNIT_COST_cost'].astype('float64')
unit['UNIT_PRICE_price'] = unit['UNIT_PRICE_price'].astype('float64')
unit['UNIT_SALE_sale'] = unit['UNIT_SALE_sale'].astype('float64')

unit.dtypes

UNIT_COST_cost      float64
UNIT_PRICE_price    float64
UNIT_SALE_sale      float64
dtype: object

### Sales_staff

In [29]:
sales_staff['SALES_STAFF_code'] = sales_staff['SALES_STAFF_code'].astype('int')
sales_staff['SALES_STAFF_email'] = sales_staff['SALES_STAFF_email'].astype('string')
sales_staff['SALES_STAFF_extension'] = sales_staff['SALES_STAFF_extension'].astype('string')
sales_staff['SALES_STAFF_POSITION_EN_position'] = sales_staff['SALES_STAFF_POSITION_EN_position'].astype('string')
sales_staff['SALES_STAFF_WORK_PHONE_work_phone'] = sales_staff['SALES_STAFF_WORK_PHONE_work_phone'].astype('string')
sales_staff['SALES_STAFF_DATE_HIRED_hired'] = pd.to_datetime(sales_staff['SALES_STAFF_DATE_HIRED_hired'], format='mixed')
sales_staff['SALES_STAFF_MANAGER_CODE_manager'] = sales_staff['SALES_STAFF_MANAGER_CODE_manager'].astype('int64')
sales_staff['SALES_STAFF_FAX_fax'] = sales_staff['SALES_STAFF_FAX_fax'].astype('string')
sales_staff['SALES_STAFF_FIRST_NAME_first_name'] = sales_staff['SALES_STAFF_FIRST_NAME_first_name'].astype('string')
sales_staff['SALES_STAFF_LAST_NAME_last_name'] = sales_staff['SALES_STAFF_LAST_NAME_last_name'].astype('string')
sales_staff['SALES_STAFF_SALES_BRANCH_CODE_branch_code'] = sales_staff['SALES_STAFF_SALES_BRANCH_CODE_branch_code'].astype('int64')
sales_staff['SALES_STAFF_SALES_BRANCH_ADDRESS_address'] = sales_staff['SALES_STAFF_SALES_BRANCH_ADDRESS_address'].astype('string')
sales_staff['SALES_STAFF_SALES_BRANCH_ADDRESS_EXTRA_address_extra'] = sales_staff['SALES_STAFF_SALES_BRANCH_ADDRESS_EXTRA_address_extra'].astype('string')

sales_staff.dtypes

SALES_STAFF_code                                                 int32
SALES_STAFF_email                                       string[python]
SALES_STAFF_extension                                   string[python]
SALES_STAFF_POSITION_EN_position                        string[python]
SALES_STAFF_WORK_PHONE_work_phone                       string[python]
SALES_STAFF_DATE_HIRED_hired                            datetime64[ns]
SALES_STAFF_MANAGER_CODE_manager                                 int64
SALES_STAFF_FAX_fax                                     string[python]
SALES_STAFF_FIRST_NAME_first_name                       string[python]
SALES_STAFF_LAST_NAME_last_name                         string[python]
SALES_STAFF_SALES_BRANCH_ADDRESS_address                string[python]
SALES_STAFF_SALES_BRANCH_ADDRESS_EXTRA_address_extra    string[python]
SALES_STAFF_SALES_BRANCH_CODE_branch_code                        int64
dtype: object

### satisfaction_type

In [30]:
satisfaction_type['SATISFACTION_TYPE_code'] = satisfaction_type['SATISFACTION_TYPE_code'].astype('int')
satisfaction_type['SATISFACTION_TYPE_DESCRIPTION'] = satisfaction_type['SATISFACTION_TYPE_DESCRIPTION'].astype('string')

satisfaction_type.dtypes

SATISFACTION_TYPE_code                    int32
SATISFACTION_TYPE_DESCRIPTION    string[python]
dtype: object

### Course

In [31]:
course['COURSE_code'] = course['COURSE_code'].astype('int')
course['COURSE_DESCRIPTION'] = course['COURSE_DESCRIPTION'].astype('string')

course.dtypes

COURSE_code                    int32
COURSE_DESCRIPTION    string[python]
dtype: object

### Order

In [32]:
order['ORDER_ORDER_METHOD_CODE_method_code'] = order['ORDER_ORDER_METHOD_CODE_method_code'].astype('int')
order['ORDER_ORDER_METHOD_EN_method'] = order['ORDER_ORDER_METHOD_EN_method'].astype('string')

order.dtypes

ORDER_ORDER_METHOD_CODE_method_code             int32
ORDER_ORDER_METHOD_EN_method           string[python]
dtype: object

### Retailer_site

In [33]:
retailer_site['RETAILER_SITE_code'] = retailer_site['RETAILER_SITE_code'].astype('int')
retailer_site['RETAILER_SITE_COUNTRY_CODE_country'] = retailer_site['RETAILER_SITE_COUNTRY_CODE_country'].astype('string')
retailer_site['RETAILER_SITE_CITY_city'] = retailer_site['RETAILER_SITE_CITY_city'].astype('string')
retailer_site['RETAILER_SITE_REGION_region'] = retailer_site['RETAILER_SITE_REGION_region'].astype('string')
retailer_site['RETAILER_SITE_POSTAL_ZONE_postal_zone'] = retailer_site['RETAILER_SITE_POSTAL_ZONE_postal_zone'].astype('string')
retailer_site['RETAILER_SITE_RETAILER_CODE_retailer_code'] = retailer_site['RETAILER_SITE_RETAILER_CODE_retailer_code'].astype('int')
retailer_site['RETAILER_SITE_ACTIVE_INDICATOR_indicator'] = retailer_site['RETAILER_SITE_ACTIVE_INDICATOR_indicator'].astype('int')
retailer_site['RETAILER_SITE_ADDRESS1_address'] = retailer_site['RETAILER_SITE_ADDRESS1_address'].astype('string')
retailer_site['RETAILER_SITE_ADDRESS2_address'] = retailer_site['RETAILER_SITE_ADDRESS2_address'].astype('string')

retailer_site.dtypes

RETAILER_SITE_code                                    int32
RETAILER_SITE_RETAILER_CODE_retailer_code             int32
RETAILER_SITE_ADDRESS1_address               string[python]
RETAILER_SITE_ADDRESS2_address               string[python]
RETAILER_SITE_CITY_city                      string[python]
RETAILER_SITE_REGION_region                  string[python]
RETAILER_SITE_POSTAL_ZONE_postal_zone        string[python]
RETAILER_SITE_COUNTRY_CODE_country           string[python]
RETAILER_SITE_ACTIVE_INDICATOR_indicator              int32
dtype: object

### Sales_branch

In [34]:
sales_branch['SALES_BRANCH_code'] = sales_branch['SALES_BRANCH_code'].astype('int')
sales_branch['SALES_BRANCH_COUNTRY_CODE_country'] = sales_branch['SALES_BRANCH_COUNTRY_CODE_country'].astype('string')
sales_branch['SALES_BRANCH_REGION_region'] = sales_branch['SALES_BRANCH_REGION_region'].astype('string')
sales_branch['SALES_BRANCH_CITY_city'] = sales_branch['SALES_BRANCH_CITY_city'].astype('string')
sales_branch['SALES_BRANCH_POSTAL_ZONE_postal_zone'] = sales_branch['SALES_BRANCH_POSTAL_ZONE_postal_zone'].astype('string')
sales_branch['SALES_BRANCH_ADDRESS1_address'] = sales_branch['SALES_BRANCH_ADDRESS1_address'].astype('string')
sales_branch['SALES_BRANCH_ADDRESS2_address'] = sales_branch['SALES_BRANCH_ADDRESS2_address'].astype('string')

sales_branch.dtypes

SALES_BRANCH_code                                int32
SALES_BRANCH_ADDRESS1_address           string[python]
SALES_BRANCH_ADDRESS2_address           string[python]
SALES_BRANCH_CITY_city                  string[python]
SALES_BRANCH_REGION_region              string[python]
SALES_BRANCH_POSTAL_ZONE_postal_zone    string[python]
SALES_BRANCH_COUNTRY_CODE_country       string[python]
dtype: object

### Retailer_contact

In [35]:
retailer_contact['RETAILER_CONTACT_code'] = retailer_contact['RETAILER_CONTACT_code'].astype('int')
retailer_contact['RETAILER_CONTACT_email'] = retailer_contact['RETAILER_CONTACT_email'].astype('string')
retailer_contact['RETAILER_CONTACT_RETAILER_SITE_CODE_site_code'] = retailer_contact['RETAILER_CONTACT_RETAILER_SITE_CODE_site_code'].astype('int')
retailer_contact['RETAILER_CONTACT_JOB_POSITION_EN_position'] = retailer_contact['RETAILER_CONTACT_JOB_POSITION_EN_position'].astype('string')
retailer_contact['RETAILER_CONTACT_EXTENSION_extension'] = retailer_contact['RETAILER_CONTACT_EXTENSION_extension'].astype('string')
retailer_contact['RETAILER_CONTACT_FAX_fax'] = retailer_contact['RETAILER_CONTACT_FAX_fax'].astype('string')
retailer_contact['RETAILER_CONTACT_GENDER_gender'] = retailer_contact['RETAILER_CONTACT_GENDER_gender'].astype('string')
retailer_contact['RETAILER_CONTACT_FIRST_NAME_first_name'] = retailer_contact['RETAILER_CONTACT_FIRST_NAME_first_name'].astype('string')
retailer_contact['RETAILER_CONTACT_LAST_NAME_last_name'] = retailer_contact['RETAILER_CONTACT_LAST_NAME_last_name'].astype('string')

retailer_contact.dtypes

RETAILER_CONTACT_code                                     int32
RETAILER_CONTACT_RETAILER_SITE_CODE_site_code             int32
RETAILER_CONTACT_FIRST_NAME_first_name           string[python]
RETAILER_CONTACT_LAST_NAME_last_name             string[python]
RETAILER_CONTACT_JOB_POSITION_EN_position        string[python]
RETAILER_CONTACT_EXTENSION_extension             string[python]
RETAILER_CONTACT_FAX_fax                         string[python]
RETAILER_CONTACT_email                           string[python]
RETAILER_CONTACT_GENDER_gender                   string[python]
dtype: object

### Retailer

In [36]:
retailer['RETAILER_code'] = retailer['RETAILER_code'].astype('int')
retailer['RETAILER_name'] = retailer['RETAILER_name'].astype('string')
retailer['RETAILER_COMPANY_CODE_MR_company'] = retailer['RETAILER_COMPANY_CODE_MR_company'].astype('string')
retailer['RETAILER_RETAILER_TYPE_retailer_type_code'] = retailer['RETAILER_RETAILER_TYPE_retailer_type_code'].astype('int')
retailer['RETAILER_RETAILER_TYPE_retailer_type_EN'] = retailer['RETAILER_RETAILER_TYPE_retailer_type_EN'].astype('string')

retailer.dtypes

RETAILER_code                                         int32
RETAILER_COMPANY_CODE_MR_company             string[python]
RETAILER_name                                string[python]
RETAILER_RETAILER_TYPE_retailer_type_code             int32
RETAILER_RETAILER_TYPE_retailer_type_EN      string[python]
dtype: object

### Product

In [37]:
product['PRODUCT_number'] = product['PRODUCT_number'].astype('int')
product['PRODUCT_name_product'] = product['PRODUCT_name_product'].astype('string')
product['PRODUCT_description_description'] = product['PRODUCT_description_description'].astype('string')
product['PRODUCT_image_image'] = product['PRODUCT_image_image'].astype('string')
product['PRODUCT_INTRODUCTION_DATE_introduced'] = pd.to_datetime(product['PRODUCT_INTRODUCTION_DATE_introduced'], format='mixed')
product['PRODUCT_PRODUCTION_COST_cost'] = product['PRODUCT_PRODUCTION_COST_cost'].astype('float')
product['PRODUCT_MARGIN_margin'] = product['PRODUCT_MARGIN_margin'].astype('float')
product['PRODUCT_LANGUAGE_language'] = product['PRODUCT_LANGUAGE_language'].astype('string')
product['PRODUCT_PRODUCT_LINE_code'] = product['PRODUCT_PRODUCT_LINE_code'].astype('string')
product['PRODUCT_PRODUCT_LINE_code_en'] = product['PRODUCT_PRODUCT_LINE_code_en'].astype('string')
product['PRODUCT_PRODUCT_TYPE_code'] = product['PRODUCT_PRODUCT_TYPE_code'].astype('string')
product['PRODUCT_PRODUCT_TYPE_code_en'] = product['PRODUCT_PRODUCT_TYPE_code_en'].astype('string')

product.dtypes

PRODUCT_number                                   int32
PRODUCT_INTRODUCTION_DATE_introduced    datetime64[ns]
PRODUCT_PRODUCT_TYPE_code               string[python]
PRODUCT_PRODUCTION_COST_cost                   float64
PRODUCT_MARGIN_margin                          float64
PRODUCT_image_image                     string[python]
PRODUCT_LANGUAGE_language               string[python]
PRODUCT_name_product                    string[python]
PRODUCT_description_description         string[python]
TRIAL888_x                                      object
PRODUCT_PRODUCT_LINE_code               string[python]
PRODUCT_PRODUCT_TYPE_code_en            string[python]
TRIAL888_y                                      object
PRODUCT_PRODUCT_LINE_code_en            string[python]
dtype: object

### Order_details

In [38]:
order_details['ORDER_DETAILS_QUANTITY_quantity'] = order_details['ORDER_DETAILS_QUANTITY_quantity'].astype('int')
order_details['ORDER_DETAILS_RETURN_CODE_returned'] = order_details['ORDER_DETAILS_RETURN_CODE_returned'].astype('int')
order_details['ORDER_DETAILS_ORDER_NUMBER_order'] = order_details['ORDER_DETAILS_ORDER_NUMBER_order'].astype('int')
order_details['ORDER_DETAILS_PRODUCT_NUMBER_product'] = order_details['ORDER_DETAILS_PRODUCT_NUMBER_product'].astype('int')
order_details['RETURNED_ITEM_DATE_date'] = pd.to_datetime(order_details['RETURNED_ITEM_DATE_date'], format='mixed')
order_details['RETURNED_ITEM_QUANTITY_quantity'] = order_details['RETURNED_ITEM_QUANTITY_quantity'].astype('int')
order_details['RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code'] = order_details['RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code'].astype('int')
order_details['RETURNED_ITEM_RETURN_REASON_code'] = order_details['RETURNED_ITEM_RETURN_REASON_code'].astype('int')
order_details['RETURNED_ITEM_RETURN_REASON_desctiption_en'] = order_details['RETURNED_ITEM_RETURN_REASON_desctiption_en'].astype('string')

# unit is already converted

order_details.dtypes

ORDER_DETAIL_CODE                                      object
ORDER_DETAILS_ORDER_NUMBER_order                        int32
ORDER_DETAILS_PRODUCT_NUMBER_product                    int32
ORDER_DETAILS_QUANTITY_quantity                         int32
ORDER_DETAILS_UNIT_ID_unit                              int64
ORDER_DETAILS_UNIT_ID_unit                              int64
ORDER_DETAILS_RETURN_CODE_returned                      int32
RETURNED_ITEM_DATE_date                        datetime64[ns]
RETURNED_ITEM_QUANTITY_quantity                         int32
RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code             int32
RETURNED_ITEM_RETURN_REASON_code                        int32
RETURNED_ITEM_RETURN_REASON_desctiption_en     string[python]
dtype: object

### Returned_item

In [39]:
returned_item['RETURNED_ITEM_code'] = returned_item['RETURNED_ITEM_code'].astype('int')
returned_item['RETURNED_ITEM_DATE_date'] = pd.to_datetime(returned_item['RETURNED_ITEM_DATE_date'], format='mixed')
returned_item['RETURNED_ITEM_QUANTITY_quantity'] = returned_item['RETURNED_ITEM_QUANTITY_quantity'].astype('int')
returned_item['RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code'] = returned_item['RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code'].astype('int')
returned_item['RETURNED_ITEM_RETURN_REASON_code'] = returned_item['RETURNED_ITEM_RETURN_REASON_code'].astype('int')
returned_item['RETURNED_ITEM_RETURN_REASON_desctiption_en'] = returned_item['RETURNED_ITEM_RETURN_REASON_desctiption_en'].astype('string')

returned_item.dtypes

RETURNED_ITEM_code                                      int32
RETURNED_ITEM_DATE_date                        datetime64[ns]
RETURNED_ITEM_QUANTITY_quantity                         int32
RETURNED_ITEM_ORDER_DETAIL_CODE_detail_code             int32
RETURNED_ITEM_RETURN_REASON_code                        int32
RETURNED_ITEM_RETURN_REASON_desctiption_en     string[python]
dtype: object

### Sales_Targetdata

In [40]:
sales_target_data['SALES_TARGETDATA_SALES_YEAR'] = sales_target_data['SALES_TARGETDATA_SALES_YEAR'].astype('int')
sales_target_data['SALES_TARGETDATA_SALES_PERIOD'] = sales_target_data['SALES_TARGETDATA_SALES_PERIOD'].astype('string')
sales_target_data['SALES_TARGETDATA_RETAILER_NAME'] = sales_target_data['SALES_TARGETDATA_RETAILER_NAME'].astype('string')
sales_target_data['SALES_TARGETDATA_SALES_TARGET'] = sales_target_data['SALES_TARGETDATA_SALES_TARGET'].astype('float64')
sales_target_data['SALES_TARGETDATA_SALES_STAFF_CODE'] = sales_target_data['SALES_TARGETDATA_SALES_STAFF_CODE'].astype('int')
sales_target_data['PRODUCT_number'] = sales_target_data['PRODUCT_number'].astype('int')
sales_target_data['PRODUCT_INTRODUCTION_DATE_introduced'] = pd.to_datetime(sales_target_data['PRODUCT_INTRODUCTION_DATE_introduced'], format='mixed')
sales_target_data['PRODUCT_PRODUCTION_COST_cost'] = sales_target_data['PRODUCT_PRODUCTION_COST_cost'].astype('float64')
sales_target_data['PRODUCT_PRODUCT_TYPE_code'] = sales_target_data['PRODUCT_PRODUCT_TYPE_code'].astype('string')

sales_target_data.dtypes

Id                                               int64
SALES_TARGETDATA_SALES_STAFF_CODE                int32
SALES_TARGETDATA_SALES_YEAR                      int32
SALES_TARGETDATA_SALES_PERIOD           string[python]
SALES_TARGETDATA_RETAILER_NAME          string[python]
SALES_TARGETDATA_SALES_TARGET                  float64
PRODUCT_number                                   int32
PRODUCT_INTRODUCTION_DATE_introduced    datetime64[ns]
PRODUCT_PRODUCT_TYPE_code               string[python]
PRODUCT_PRODUCTION_COST_cost                   float64
PRODUCT_MARGIN_margin                           object
PRODUCT_image_image                             object
PRODUCT_LANGUAGE_language                       object
PRODUCT_name_product                            object
PRODUCT_description_description                 object
PRODUCT_PRODUCT_LINE_code                       object
PRODUCT_PRODUCT_TYPE_code_en                    object
PRODUCT_PRODUCT_LINE_code_en                    object
RETAILER_code                                   object
dtype: object

### Training

In [41]:
training['TRAINING_SALES_STAFF_CODE'] = training['TRAINING_SALES_STAFF_CODE'].astype('int')
training['TRAINING_COURSE_CODE'] = training['TRAINING_COURSE_CODE'].astype('int')
training['TRAINING_YEAR'] = training['TRAINING_YEAR'].astype('int')
training['COURSE_code'] = training['COURSE_code'].astype('int')
training['COURSE_DESCRIPTION'] = training['COURSE_DESCRIPTION'].astype('string')

training.dtypes

TRAINING_YEAR                         int32
TRAINING_SALES_STAFF_CODE             int32
TRAINING_COURSE_CODE                  int32
COURSE_code                           int32
COURSE_DESCRIPTION           string[python]
dtype: object

### Satisfaction

In [42]:
satisfaction['SATISFACTION_SALES_STAFF_CODE'] = satisfaction['SATISFACTION_SALES_STAFF_CODE'].astype('int')
satisfaction['SATISFACTION_SATISFACTION_TYPE_CODE'] = satisfaction['SATISFACTION_SATISFACTION_TYPE_CODE'].astype('int')
satisfaction['SATISFACTION_YEAR'] = satisfaction['SATISFACTION_YEAR'].astype('int')
satisfaction['SATISFACTION_TYPE_code'] = satisfaction['SATISFACTION_TYPE_code'].astype('int')
satisfaction['SATISFACTION_TYPE_DESCRIPTION'] = satisfaction['SATISFACTION_TYPE_DESCRIPTION'].astype('string')

satisfaction.dtypes

SATISFACTION_YEAR                               int32
SATISFACTION_SALES_STAFF_CODE                   int32
SATISFACTION_SATISFACTION_TYPE_CODE             int32
SATISFACTION_TYPE_code                          int32
SATISFACTION_TYPE_DESCRIPTION          string[python]
dtype: object

### Order_header

In [43]:
order_header['ORDER_HEADER_number'] = order_header['ORDER_HEADER_number'].astype('int')
order_header['ORDER_HEADER_RETAILER_NAME'] = order_header['ORDER_HEADER_RETAILER_NAME'].astype('string')
order_header['ORDER_HEADER_SALES_STAFF'] = order_header['ORDER_HEADER_SALES_STAFF'].astype('int')
order_header['ORDER_HEADER_SALES_BRANCH_CODE'] = order_header['ORDER_HEADER_SALES_BRANCH_CODE'].astype('int')
order_header['ORDER_HEADER_RETAILER_SITE_CODE'] = order_header['ORDER_HEADER_RETAILER_SITE_CODE'].astype('int')
order_header['ORDER_HEADER_RETAILER_CONTACT_CODE'] = order_header['ORDER_HEADER_RETAILER_CONTACT_CODE'].astype('int')
order_header['ORDER_METHOD_CODE'] = order_header['ORDER_METHOD_CODE'].astype('int')
order_header['RETAILER_CODE'] = order_header['RETAILER_code'].astype('int')
order_header['RETAILER_COMPANY_CODE_MR_company'] = order_header['RETAILER_COMPANY_CODE_MR_company'].astype('string')

order_header.dtypes

ORDER_HEADER_number                                              int32
ORDER_HEADER_RETAILER_NAME                              string[python]
ORDER_HEADER_RETAILER_SITE_CODE                                  int32
ORDER_HEADER_RETAILER_CONTACT_CODE                               int32
ORDER_HEADER_SALES_STAFF                                         int32
ORDER_HEADER_SALES_BRANCH_CODE                                   int32
ORDER_HEADER_ORDER_DATE                                 datetime64[ns]
ORDER_METHOD_CODE                                                int32
RETAILER_code                                                   object
RETAILER_COMPANY_CODE_MR_company                        string[python]
RETAILER_name                                                   object
RETAILER_RETAILER_TYPE_retailer_type_code                       object
RETAILER_RETAILER_TYPE_retailer_type_EN                         object
SALES_STAFF_code                                                object
SALES_STAFF_email                                               object
SALES_STAFF_extension                                           object
SALES_STAFF_POSITION_EN_position                                object
SALES_STAFF_WORK_PHONE_work_phone                               object
SALES_STAFF_DATE_HIRED_hired                                    object
SALES_STAFF_MANAGER_CODE_manager                                object
SALES_STAFF_FAX_fax                                             object
SALES_STAFF_FIRST_NAME_first_name                               object
SALES_STAFF_LAST_NAME_last_name                                 object
SALES_STAFF_SALES_BRANCH_ADDRESS_address                        object
SALES_STAFF_SALES_BRANCH_ADDRESS_EXTRA_address_extra            object
SALES_STAFF_SALES_BRANCH_CODE_branch_code                       object
RETAILER_SITE_code                                              object
RETAILER_SITE_RETAILER_CODE_retailer_code                       object
RETAILER_SITE_ADDRESS1_address                                  object
RETAILER_SITE_ADDRESS2_address                                  object
RETAILER_SITE_CITY_city                                         object
RETAILER_SITE_REGION_region                                     object
RETAILER_SITE_POSTAL_ZONE_postal_zone                           object
RETAILER_SITE_COUNTRY_CODE_country                              object
RETAILER_SITE_ACTIVE_INDICATOR_indicator                        object
RETAILER_CONTACT_code                                           object
RETAILER_CONTACT_RETAILER_SITE_CODE_site_code                   object
RETAILER_CONTACT_FIRST_NAME_first_name                          object
RETAILER_CONTACT_LAST_NAME_last_name                            object
RETAILER_CONTACT_JOB_POSITION_EN_position                       object
RETAILER_CONTACT_EXTENSION_extension                            object
RETAILER_CONTACT_FAX_fax                                        object
RETAILER_CONTACT_email                                          object
RETAILER_CONTACT_GENDER_gender                                  object
RETAILER_CODE                                                    int32
dtype: object

# Toevoegen van nieuwe kolommen
Toevoegen van de afgeleide informatie die ook in het ETL en de data warehouse moet komen.
Full name is al gedaan via sql

In [44]:
#TODO